
/* Create rollover button effect for all hyperlinks */
a:link, a:visited {
  background-color: #0b203b;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(69, 21, 136);
}


/* Let all content contained within BODY to have a backgroung colour of powderblue
And let all fonts be Arial first, then Helvetica, then sans-serif (this depends on the fonts that the user has installed)*/
body {
  background-color: rgb(7, 62, 88);
  font-family: Arial, Helvetica, sans-serif;
}


/* Let all H1 headings have the font colour blue */
h1 {
  color: rgb(198, 207, 211);
}

.custom-table {
  border-collapse: collapse;
  margin: 20px auto;
}

.custom-table td {
  width: 250px;
  height: 150px;
  border: 4px solid #5757be; 
  background-color: #adb8bf; 
  vertical-align: top;
  padding: 10px;
}

.orange-cell {
  background-color: orange;
}

.table-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
